<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (number, status, user_id, address_book_id, order_time, checkout_time, pay_status, pay_method, amount, remark, phone, address, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_status, tableware_number)
        VALUES (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payStatus}, #{payMethod}, #{amount}, #{remark}, #{phone}, #{address}, #{consignee}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{packAmount}, #{tablewareStatus}, #{tablewareNumber})
    </insert>
</mapper>
